<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset 2">
    <h2>Añadir nuevo presupuesto</h2>
    <a class="btn btn-info float-md-right" routerLink="/presupuestos">Regresar al listado</a>
    <br>
    <form [formGroup]="presupuestoForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="proveedor">Proveedor</label>
        <input type="text" class="form-control" id="proveedor" formControlName="proveedor">
      </div>
      <div class="form-group">
        <label for="fecha">Fecha Presupuesto</label>
        <i class="fa fa-check-circle" *ngIf="presupuestoForm.controls.fecha.valid"></i>
        <i class="fa fa-exclamation-circle" *ngIf="presupuestoForm.controls.fecha.invalid && presupuestoForm.controls.fecha.touched"></i>
        <input type="date" class="form-control" id="fecha" formControlName="fecha">
      </div>
      <div class="form-group">
        <label for="concepto">Concepto</label>
        <input type="text" class="form-control" id="concepto" formControlName="concepto">
      </div>
      <div class="form-group">
        <label for="base">Base Imponible</label>
        <input type="number" class="form-control" id="base" formControlName="base">
      </div>
      <div class="form-group">
        <label for="tipo">Tipo de IVA</label>
        <select class="form-control" id="tipo" formControlName="tipo">
          <option value="" hidden disabled>Seleccione...</option>
          <option value=0> 0 %</option>
          <option value=0.04> 4 %</option>
          <option value=0.10>10 %</option>
          <option value=0.21>21 %</option>
        </select>
      </div>
      <div class="form-group">
        <label for="iva">Importe IVA</label>
        <input type="number" class="form-control" id="iva" formControlName="iva" disabled [(ngModel)]="presupuestoForm.value.iva">
      </div>
      <div class="form-group">
        <label for="total">Total Factura IVA Incluido</label>
        <input type="number" class="form-control" id="total" formControlName="total" disabled [(ngModel)]="presupuestoForm.value.total">
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!presupuestoForm.valid">Añadir Presupuesto</button>
      <button class="btn btn-danger" routerLink="/presupuestos">Cancelar</button>
      <p class="alert alert-danger" *ngIf="!presupuestoForm.valid 
                                           && presupuestoForm.controls.proveedor.touched 
                                           && presupuestoForm.controls.fecha.touched
                                           && presupuestoForm.controls.concepto.touched
                                           && presupuestoForm.controls.base.touched
                                           && presupuestoForm.controls.tipo.touched">Por favor complete todos los campos</p>
    </form>
    <hr>
    <pre>Valor del formulario: {{ presupuestoForm.value | json }}</pre>
    <pre>Status del formulario: {{ presupuestoForm.status | json }}</pre>
    <hr>
    <pre>Presupuesto: {{ presupuesto | json }}</pre>
  </div>
</div>
