<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset 2">
    <h2>Añadir nuevo proveedor</h2>
    <form (ngSubmit)="onSubmit()" #formpro="ngForm">
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" ngModel name="nombre">
      </div>
      <div class="form-group">
        <label for="cp">C.P.I.</label>
        <input type="text" class="form-control" id="cp" ngModel name="cp">
      </div>
      <div class="form-group">
        <label for="telefono">Teléfono</label>
        <input type="text" class="form-control" id="telefono" ngModel name="telefono" required>
      </div>
      <div class="form-group">
        <label for="ciudad">Ciudad</label>
        <select class="form-control" id="ciudad" ngModel name="ciudad" required>
          <option value="" disabled hidden>Selecciona una ciudad</option>
          <option *ngFor="let ciudad of ciudades" [value]="ciudad">{{ciudad}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="fechaNacimiento">Fecha Nacimiento</label>
        <input type="date" class="form-control" id="fechaNacimiento" ngModel name="fechaNacimiento">
      </div>
      <button type="submit" class="btn btn-success">Añadir Proveedor</button>
    </form>
    <hr>
    <pre>{{proveedor | json}}</pre>
  </div>
</div>